<div class="bar bar-header bar-assertive">
  <h1 class="title">Header</h1>
</div>



<ion-tabs class="tabs-striped tabs-bottom tabs-background-assertive tabs-color-light">

  
  <!-- favourites Tab -->
  <ion-tab title="Favourites" icon-off="ion-ios-person" icon-on="ion-ios-person-outline" nav-transition="ios" href="#/tab/favourites">
    <ion-nav-view name="tab-favourites"></ion-nav-view>
  </ion-tab>


  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" nav-transition="ios" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>


  <!-- Alerts Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" nav-transition="ios" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>

